.pagination {
  .waves-effect {
    transition: background-color 0.2s linear;
    &:hover {
      background-color: darken(#fff, 8%);
    }
    &:active {
      background-color: darken(#fff, 18%);
    }
  }
  .active {
    background-color: #2196f3 !important;
  }
}
.common-preloader {
  margin-top: 250px;
  margin-bottom: 700px;
}
