.header {
    background-color: #2980b9;
}

.HeaderWrapper{
    height: 60px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header__img {
    width: 50px;
    margin-left: 50px;
    cursor: pointer;
}

